/**
 * base.css: Base CSS for search_transaccions
 */


.circuloRed {
    position:relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid rgb(7, 7, 7);
    background: rgb(248, 3, 3);
}
.circuloGreen {
    position:relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid rgb(7, 7, 7);
    background: rgb(87, 199, 102);
}
.circuloWhite {
    position:relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid rgb(7, 7, 7);
    background: rgb(255, 255, 255);
}