/**
 * base.css: Base CSS for SearchInvoice
 */

.rn_SearchInvoice {}

button,
input,
optgroup,
select,
textarea {
    padding: 5px 7px;
    border: none;
    border: 1px solid #999;
    font-size: 14px;
    display: inline-block;
    min-height: 27px;
    border-radius: 20px;
}