.rn_AccountItem {
    text-align: center;
    font-size: 0;
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    margin: 0px;
}

.rn_AccountItem ul {
    list-style-type: none;
    padding: 0;
    font-size: initial;
    right: 0;
    position: absolute;
}

.rn_AccountItem ul li {
    white-space: nowrap;
}

.rn_AccountItem .rn_AccountItemIcon a {
    width: 32px;
    height: 32px;
    display: block;
    background-position: -190px -75px;
}

.rn_AccountItemIcon a {
    font-size: 0;
}